#abc{
    border: 40px solid aqua;
    background-color: aliceblue;
    border-radius: 20%;
}

body{
    background-image: url("https://th.bing.com/th/id/OIP.7farwLkHydV8JtL5pCpCQwHaEo?pid=ImgDet&rs=1");
}